<div data-role="page" data-dom-cache="false">
  
  <div data-role='header'>
    <h1>Session: <%= link_to @session.token_id, session_path(@session.token_id) %></h1>
  </div><!-- /header -->
  
  <div role="main" class="ui-content">
    <ul data-role="listview" data-inset="true">
	  <% @tasks.each do |task| %>
	    <li>
          <a href=<%= session_task_path(@session.token_id,task)+"/choice" %> data-icon="location"><%= task.name %></a>
		  <a href=<%= edit_session_task_path(@session.token_id,task) %> data-icon="edit">Edit</a>
        </li>
      <% end %>
      <li data-icon="location">
        <%= link_to 'New task', new_session_task_path(@session.token_id) %>
      </li>
    </ul>
  </div><!-- /main -->

  <div data-role='footer' style="text-align:center;">
    <%= link_to "Index", sessions_path %>
    <%= link_to 'Stop logging', session_tasks_stop_path(@session.token_id), method: :post, :'data-role' => 'button',  :'data-icon' => 'power' %>
    <%= link_to 'Delete log', session_logs_destroy_all_path(@session.token_id), method: :post, :'data-role' => 'button',  :'data-icon' => 'delete' %>
    <%= link_to 'Download as Excel', session_logs_index_path(@session.token_id, :format => :xls), :'data-role' => 'button', :'data-icon' => 'action', :'data-ajax' => 'false' %>
  </div><!-- /footer -->

</div><!-- /page -->
