<% if @task.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@task.errors.count, "error") %>:
    </h2>
    <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div data-role="page" data-dom-cache="false">
  <div data-role="header">
    <h1>TaskWatch</h1>
  </div><!-- /header -->

  <form method="post" action="<%= session_task_path(@session.token_id,@task) %>">
    <input type="hidden" name="_method" value="patch"/>
    <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">

    <div data-role="main" class="ui-content">
      <%= render partial: "form" %>
    </div><!-- /content -->

    <div data-role="footer" style="text-align:center;">
      <div data-role="control-group" data-type="horizontal">
        <%= link_to 'Delete', session_task_path(@session.token_id,@task), method: :delete, :'data-role' => 'button',  :'data-icon' => 'delete' %>
        <a href=<%= session_path(@session.token_id) %> data-role="button" data-icon="back">Back</a>
        <%= submit_tag("Save", :name=>'save', :'data-role'=>'button', :'data-icon'=>'check') %>
      </div>
    </div><!-- /footer -->
  </form>
</div><!-- /page -->
