<%= form_for :task, url: tasks_path do |f| %>
    <div data-role="page" data-dom-cache="false">
 
        <div data-role="header">
            <h1>TaskWatch</h1>
        </div><!-- /header -->
 
        <div role="main" class="ui-content">
			
				<p>
					<%= f.label :name %>
					<%= f.text_field :name %>
				</p>
 
				<p>
					<%= f.label :settings %><br>
					<%= f.text_area :settings %>
				</p>
				<br>
				<p>
				
				</p>
        </div><!-- /content -->
 
        <div data-role="footer" style="text-align:center;">
			<div data-role="control-group" data-type="horizontal">
				<a href=<%= tasks_path %> data-role="button" data-icon="back">Back</a>
				<%= f.submit 'Save', :name => 'save', :'data-role' => 'button', :'data-icon' => 'check' %>
				<%= f.submit %>
			</div>
        </div><!-- /footer -->
    </div><!-- /page -->
<% end %>
